/* @import url("http://fonts.cdnfonts.com/css/iranian-sans"); */
/* reset original styles */
@tailwind base;
/* create reusable class name => (like: .primary) */
@tailwind components;
/* turn the tailwind classes to css styles */
@tailwind utilities;

/* change scrollBar style */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
  border-radius: 50px;
}
